
@import 'partials/reset';
@import 'partials/header';
@import 'partials/titles';
@import 'partials/home';
@import 'partials/history';
@import 'partials/shop';
@import 'partials/gallery';
@import 'partials/contact';
@import 'partials/buttons';
@import 'partials/login';
@import 'partials/cart';
@import 'partials/footer';
