// VARIABLES

$whitesmoke: #f5f5f5; 
$black: #000;
$pastelMagenta: #bc467d; 
$pastelMagentaOscuro: #a85079;
$blanco: #fff;
$fuenteTitulo: 'Roboto', sans-serif;
$fuenteTextos: 'Nunito', sans-serif;

// FIN VARIABLES 