//INICIO DE LA GALERIA

@import "../variables/variables";
@import "../variables/mixins";

.containerCarousel {
  max-width: 700px;
  margin: 0 auto;
}

.masFotosText {
  margin: 1rem 0;
  text-align: center;
  color: $black;
}

.collageGaleriaContainer {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "uno dos tres"
    "cuatro cinco seis";

  @media screen and (max-width: 900px) {
    grid-template-areas:
      "uno dos"
      "tres cuatro"
      "cinco seis";
  }

  @media screen and (max-width: 600px) {
    grid-template-areas:
      "uno"
      "dos"
      "tres"
      "cuatro"
      "cinco"
      "seis";
  }

  .collageGaleriaItem1 {
    grid-area: uno;
  }

  .collageGaleriaItem2 {
    grid-area: dos;
  }

  .collageGaleriaItem3 {
    grid-area: tres;
  }

  .collageGaleriaItem4 {
    grid-area: cuatro;
  }

  .collageGaleriaItem5 {
    grid-area: cinco;
  }

  .collageGaleriaItem6 {
    grid-area: seis;
  }

  div {
    img {
      &:hover {
        transform: scale(1.03);
        -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
      }
    }
  }
}
