// INICIO HEADER

@import "../variables/variables";
@import "../variables/mixins";

header {
  background-color: $black;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.923);
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.923);

  .navContainer {
    @include flex(flex, row, space-between);
    align-items: center;
    flex-wrap: wrap;

    .logo {
      width: 75px;
    }

    .menuDesplegable {
      @include flex(flex, row, space-between);
      align-items: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 1rem;
        width: 90%;
      }

      li {
        list-style: none;
        font-size: 1rem;
        margin-left: 1.5rem;
        padding: 8px;
        color: $black;
        background-color: $whitesmoke;
        border: 1px solid $black;
        border-radius: 10px;

        @media screen and (max-width: 768px) {
          width: 90%;
          text-align: center;
          margin: 0.3rem 0;
        }

        &:hover {
          background-color: $pastelMagenta;
          a {
            color: $blanco!important;
          }
        }

        &:first-child {
          margin-left: 0;
        }

        a {
          text-decoration: none;
          color: $black !important;
          font-family: $fuenteTitulo;
          padding: 12px;

          @media screen and (max-width: 768px) {
            padding: 12px 80px;
          }
        }

        i {
          color: $black;
          font-size: 1.5rem;
          width: 100%;
          &:hover {
            color: $blanco;
          }
        }
      }

      .active {
        background-color: $pastelMagenta;
        a {
          color: $blanco!important;
        }
      }
    }

    div {
      i {
        color: $blanco;
        font-size: 1.5rem;
        margin-right: 1rem;
        cursor: pointer;

        &:hover {
          color: $pastelMagenta;
        }
      }
    }

    .active {
      i {
        color: $pastelMagenta;
      }
    }

    .btnMenuDesplegable {
      border: 1px solid $pastelMagenta;
      font-size: 1rem;
      border-radius: 10px;
      background: linear-gradient(
        90deg,
        $pastelMagenta 0%,
        $pastelMagentaOscuro 100%
      );
      text-decoration: none;
      color: $whitesmoke;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      font-family: $fuenteTextos;
      margin-right: 0.7rem;

      &:hover {
        -webkit-box-shadow: 0px 0px 8px 1px rgba(121, 121, 121, 0.6);
        box-shadow: 0px 0px 8px 1px rgba(121, 121, 121, 0.6);
        color: $whitesmoke;
      }
    }
  }
}
