// INICIO TITULOS

@import "../variables/variables";
@import "../variables/mixins";

.titleContainer {
    color: $black;
    margin-top: 2rem;
    text-align: center;
    font-family: $fuenteTitulo;

    .titleContainerTitle {
        font-size: 2.876rem;
        .titleContainerUmichufis {
            color: $pastelMagenta;

        }
    }
    .titleContainerSubtitle {
        color: $black;
    }
}

.monthFav {
    .monthFavTitle {
        font-size: 2.875rem;
        text-align: center;
        font-family: $fuenteTitulo;
        color: $black;
    }
}

.contactTitle {
    text-align: center;
    color: $black;
    font-family: $fuenteTitulo;
}

.titleCombos{
    color: $black;
    margin-top: 2rem;
    text-align: center;
    font-family: $fuenteTitulo;
    .titleContainerTitle {
        font-size: 2.876rem;
        .titleContainerUmichufis {
            color: $pastelMagenta;

        }
    }
}
